.section {
  color: #000000;
}
.dark-mode .section {
  color: #bbbbbb;
}
.labelFor {
  color: #000000;
}
.dark-mode .labelFor {
  color: #bbbbbb;
}

.dark-mode .kotakinput {
  color: white;
}
/* text info validation whatsapp*/
#text-info span {
    display: block;
    padding: 10px 15px;
    text-align: center;
    font-weight: 700;
    margin: 15px 0;
    border-radius: .5rem;
}
#text-info span.yes {
    background: #c6ffc5;
    color: #0ea904;
}
#text-info span.no {
    background: #ffc5c5;
    color: #ce0404;
}